<form class="" action="/records" method="post">

<label for="record">Record Name</label>
  <input type="text" name="record_name">

<label for="record">Artist ID</label>

<input type="submit" value="Add Record">
</form>
