<div class="new-record">

  <form class="form" action="/records" method="post">

  <label for="record">Record Name</label>
    <input type="text" name="record_name">
  <br>
  <label for="artist">Artist</label>
    <select id="artist" name="artist_id">
      <% @artists.each do |artist| %>
      <% if artist.activity == 'Active' %>
      <option value="<%= artist.id %>">
        <%= artist.name %>
      </option>
      <% end %>
      <% end %>
    </select>
  <br>
  <label for="genre">Genre</label>
    <select id="genre" name="genre">
      <option value="Rock">Rock</option>
      <option value="Pop">Pop</option>
      <option value="Country">Country</option>
      <option value="Jazz">Jazz</option>
    </select>
  <br>
  <label for="record">Stock</label>
    <input type="text" name="stock" value="">
  <br>
  <label for="record">Buying Cost</label>
    <input type="text" name="buying_cost" value="">
  <br>
  <label for="record">Selling Price</label>
    <input type="text" name="selling_price" value="">
    <br>

  <input type="submit" value="Add Record">
  </form>

</div>
