<ul>
  <% @records.each do |record| %>
  <li><a href="/records/<%= record.id %>"><%= record.record_name %></a></li><br>
  <li><a href="/artists/<%= record.artist_id%>"><%= record.artists().name %></a></li><br>
  <% end %>
</ul>
