<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>theRecord Store</title>
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body>
<main>
  <nav>
    <ul>
      <li><a href="/">theRecord <br> Store</a></li>
      <ul class="navigation">
        <li><a href="/artists">Artists</a></li>
        <li><a href="/genres">Genres</a></li>
        <li><a href="/labels">Labels</a></li>
      </ul>
    </ul>
  </nav>
  <section id="content">
    <%= yield %>
  </section>
</main>
</body>
</html>
