<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>theRecord Store</title>
</head>
<body>
<main>
  <nav>
    <ul>
      <li><a href="#">Artists</a></li>
      <li><a href="#">Genres</a></li>
      <li><a href="#">Labels</a></li>
    </ul>
  </nav>
  <section id="content">
    <%= yield %>
  </section>
</main>
</body>
</html>
