<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>theRecord Store</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
</head>

  <body>

    <div id="container">

      <div id="header-nav">
        <div id="header">

          <a href="/">theRecord <br> Store</a>

        </div>
        <div id="nav" class="navbar">

          <a class="navlink" href="/genres" class="records">Genres</a>

          <a class="navlink" href="/artists" class="records">Artists</a>

          <a class="navlink" href="/labels" class="records">Labels</a>

        </div>
      </div>
      <div id="content">

        <div id="main">

            <%= yield %>

        </div>

      </div>

      <!-- <div id="footer">
        Copyright &copy; 2020 Alexander Gyllos.
      </div> -->

    </div>



  </body>

</html>
