<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>theRecord Store</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>

  <body>

    <div id="container">

      <div id="header">

        <a href="/">theRecord <br> Store</a>

      </div>

      <div id="content">

        <div id="nav">

          <ul>

            <li><a href="/genres" class="records">Genres</a></li>

            <li><a href="/artists" class="records">Artists</a></li>

            <li><a href="/labels" class="records">Labels</a></li>

          </ul>

        </div>

        <div id="main">

            <%= yield %>

        </div>

      </div>

      <div id="footer">
        Copyright &copy; 2020 Alexander Gyllos.
      </div>

    </div>

  </body>

</html>
