/* body {
  background: #FFFCC0;
  background-size: 100%;
}

nav ul li {
  color: black;
  font-family: 'Impact', impact, sans-serif;
  text-decoration: none;
  list-style-type: none;
  display: inline;
}

a {
  color: black;
  font-family: 'Impact', impact, sans-serif;
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

#content ul li {
  color: black;
  font-family: 'Impact', impact, sans-serif;
  text-decoration: none;
  list-style-type: none;
  display: inline;
} */

<br>
<li><a href="/artists/<%= record.artist_id%>"><%= record.artists().name %></a></li><br>
