input[type="text"] {
  text-transform: capitalize;
  border: 1px solid black;
}

.form {
  display: flex;
  flex-direction: column;
  margin-right: 85%;

}

input[type="submit"] {
  display: flex;
  margin-right: 55%;
  margin-top: 3%;
  justify-content: center;
  border: 1px solid black;
}

.custom-select {
  border: 1px solid black;
}
