input[type="text"] {
  text-transform: capitalize;
}

.form {
  display: flex;
  flex-direction: column;
  padding-right: 90%;
}

input[type="submit"] {
  display: flex;
  padding: 3%;
  margin-right: 45%;
  margin-top: 3%;
}
