a {
  color: black;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Impact', impact, sans-serif;
  font-size: 1em;
}

html, body {
  background-color: #FFFCC0;
  height: 100%;
}

p {
  font-family: 'Impact', impact, sans-serif;
  font-size: 1em;
}

h1 {
  font-family: 'Impact', impact, sans-serif;
  font-size: 1.7em;
  padding-left: 3%;
}

h2 {
  font-family: 'Impact', impact, sans-serif;
  font-size: 1.7em;
  padding-left: 3%;
}

li a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  display: inline-flex;
  justify-content: space-between;
}

img.vinyl {
  width: 200px;
  height: 200px;
  margin-top: 5%;
}

.new-record {
  margin-left: 3%;
  margin-top: 2%;
  clear: both;
}

.records {
  font-family: 'Impact', impact, sans-serif;
  font-size: 1.1em;
}

.artists {
  font-family: 'Impact', impact, sans-serif;
  font-size: 1.0em;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* margin-right: 3%; */
}

.navlink {
  /* margin-left: 1%; */
  margin-right: 3%;
  font-size: 1.3em;
  margin-bottom: 3%;
}

#container {
 height: 100%;
 display: flex;
 flex-direction: column;
}

#content {

}

#footer {
  clear: both;
  padding-left: 3%;
  padding-top: 3%;
  font-family: 'Impact', impact, sans-serif;
  font-size: 1em;
  position: absolute;
  bottom: 0%;
}

#header {
  font-family: 'Impact', impact, sans-serif;
  font-size: 1.7em;
  padding-left: 3%;
}

#records {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
}

#main {

}

#nav {

}

#header-nav {
  display: inline;
}
