<div class="new-record">

  <form class="form" action="/labels/<%= @label.id %>" method="post">

    <label for="label">Label Name</label>
      <input type="text" name="name" value="<%= @label.name %>"/>
      <br>
    <label for="label">Contact</label>
    <input type="text" style="text-transform: lowercase; margin-right: 0%;"name="contact" value="<%= @label.contact %>"/>
      <br>
    <input type="submit" value="Edit">
  </form>

</div>
