<div id="records">


  <% @labels.each do |label| %>
  <div>
    <a href="/labels/<%= label.id %>" class="records">
    <img class="vinyl" src="/images/label.png" alt=""></a><br>
    <a style="text-transform: capitalize;" href="/labels/<%= label.id %>"><%= label.name %></a>
  </div>

  <% end %>
</div>

<div class="new-record">
    <a href="/labels/new">New Label</a>
</div>
