<form class="" action="/labels" method="post">

  <label for="label">Label Name</label>
    <input type="text" name="name" value="">

  <label for="label">Contact</label>
    <input type="text" name="contact" value="">

    <input type="submit" name="" value="Add Label">
</form>
