<div class="new-record">

  <form class="form" action="/labels" method="post">

    <label for="label">Label Name</label>
      <input type="text" name="name" value="">
      <br>
    <label for="label">Contact</label>
      <input type="text" name="contact" style="text-transform: lowercase; "value="">
      <br>
      <input type="submit" name="" value="Add Label">
  </form>

</div>
