<ul>
  <% @artists.each do |artist| %>
  <li><a href="/artists/<%= artist.id %>"><%= artist.name %></a></li>
  <% end %>
</ul>

<div class="new-record">


<a href="/artists/new">New Artist</a>

</div>
