<div class="new-record">

<form class="form" action="/artists" method="post">

  <label for="artist">Artist Name</label>
    <input type="text" name="name" value="">
    <br>
  <label for="label">Label</label>
    <select id="label" name="label_id">
      <% @labels.each do |label| %>
      <option value="<%= label.id %>">
        <%= label.name %>
      </option>
      <% end %>
    </select>
  <br>
  <input type="submit" name="" value="Add Artist">
</form>

</div>
