<div class="new-record">

<form class="form" action="/artists" method="post">

  <label for="artist">Artist Name</label>
    <input type="text" name="name" value="">
    <br>
  <label for="artist">Label ID</label>
    <input type="text" name="label_id" value="">
    <br>
  <input type="submit" name="" value="Add Artist">
</form>

</div>
