<form class="" action="/artists" method="post">

  <label for="artist">Artist Name</label>
    <input type="text" name="name" value="">

  <label for="artist">Label ID</label>
    <input type="text" name="label_id" value="">

  <input type="submit" name="" value="Add Artist">
</form>
